.not-found-container {
    margin-left: 260px;
    padding: 20px;
    align-items: center;
    display: grid;
    justify-content: space-around;
  }
  
  .not-found-message {
    margin-top: 250px;
    text-align: center;
    margin-right: 50px;
  }
  
  .not-found-graphic {
    
  }
  
  .go-back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 13px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
  }
  
  .go-back-btn:hover {
    background-color: #2a2a2a;
  } 