.search-container {
    display: block;
    position: fixed;
    top: 0;
    left: 77px; /* Adjust this value to match the width of your sidebar */
    width: 400px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 105px !important;
    box-sizing: border-box;
    z-index: 99;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform: translateX(-50%);
  }
  
  .search-container.show {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
  
  .search-label {
    font-family: "Manrope";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .search-form {
    display: flex;
    flex-direction:row;
    align-items: stretch;
  }
  
  .search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 45px;
  }
  
  .search-button {
    width: 15%;
    margin-left: 15px;
    padding: 10px;
    font-size: 16px;
    height: 45px;
    background-color: #d7d7d7;
    color: #2d2d2d;
    border: none;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #d7d7d799;
  }