.search-container {
    display: block;
    position: fixed;
    top: 0;
    left: 77px; /* Adjust this value to match the width of your sidebar */
    width: 400px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 35px;
    padding-top: 88px !important;
    background: linear-gradient(to top, rgba(216, 228, 255, 0.25), rgb(255, 255, 255));
    box-sizing: border-box;
    z-index: 101;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform: translateX(-50%);
  }
  
  .search-container.show {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
  
  .search-label {
    font-family: "Manrope";
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .search-form {
    display: flex;
    flex-direction:row;
    align-items: stretch;
  }
  
  .search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    height: 45px;
  }
  
  .search-button {
    width: 15%;
    margin-left: 15px;
    padding: 10px;
    font-size: 16px;
    height: 45px;
    background-color: #d7d7d7;
    color: #2d2d2d;
    border: none;
    transition: all 0.4s ease-in-out;
    border-radius: 15px;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #d7d7d799;
  }

  .search-results {
    display: none;
    margin-top: 25px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .search-result {
    transition:  all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    background: #ffffffad;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .search-result:hover {
    background-color: #f0f0f0b3;
  }
  
  .search-result-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 15px;
  }
  
  .search-result-info {
    flex: 1;
  }
  
  .search-result-title {
    text-decoration: none;
    font-weight: bold;
    color: #2d2d2d;
    margin-bottom: 5px;
  }

  .search-result-title:hover{
    text-decoration: none;
    color: #2d2d2d;
  }
  
  .search-result-description {
    color: #666;
    font-size: 14px;
  }