.navbar-brand {
    cursor: pointer;
    font-weight: bold;
    color: #000; /* Schwarze Schriftfarbe */
}

.navbar-brand:hover {
    cursor: pointer;
    font-weight: bold;
    color: #000; /* Schwarze Schriftfarbe */
}
.navbar 
{
    transition: background-color 0.3s ease;
    width: 100%;
    z-index: 1000;
    display: flex;
    position:  fixed;
    align-items: baseline;
    background-color: #fff; /* Weiße Hintergrundfarbe */
    box-decoration-break: 0 4px 4px rgba(0, 0, 0, 0.1); /* Schatten */
    border-bottom: 1px solid #eee; /* Unterstrich */
}

.navbar-toggler {
    border-color: transparent;
    color: #ffffff; /* Durchsichtiger Toggle-Button-Rahmen */
}


.navbar-nav {
    text-align: right;
    margin-left: auto;
}


.nav-item {
    margin: 0 10px;
    cursor: pointer;
}

.nav-enabled{
    color: #262560;
}

.nav-link {
    color: #000; /* Schwarze Schriftfarbe */
    transition: all 0.3s ease; /* Fließende Übergänge */
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6c63ff; /* Akzentfarbe für Unterstrich */
    transform: scaleX(0); /* Anfangszustand: unsichtbar */
    transition: transform 0.3s ease; /* Fließende Übergänge */
}

.nav-link:hover::before {
    transform: scaleX(1); /* Unterstrich erscheint beim Hover */
}


.btn-primary {
    background: linear-gradient(195deg, #252587, #284c9f); ;
    transition: all 0.3s ease; /* Fließende Übergänge */
    border-color: #425efc; /* Pink border on hover */
    color: #fff; 
    transition: all 0.5s ease-in-out; /* Fließende Übergänge */
}

.btn-primary:hover {
    background: linear-gradient(95deg, #252587, #284c9f); 
}

/* SVG-Logo im Header */
.svg-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transition: transform 0.3s ease; /* Fließende Übergänge */
}

.navbar-toggler:hover .svg-logo {
    transform: scale(1.2); /* Vergrößern des Logos beim Hover über den Toggle-Button */
}
.profile-image-placeholder {
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; 
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */
}

.profile-image {
    width: 100%; /* Ensure image fills the container */
    height: 100%; /* Ensure image fills the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.dropdown-menu {
    animation: fadInUp 1s linear;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(166, 166, 166, 0.3);
    background-color: rgba(255, 255, 255, 0.327);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
    overflow: hidden;
    padding: 15px;
    min-width: 250px;
    outline: none;
  }
  
  .dropdown-header {
    padding: 10px ;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .dropdown-item {
    padding: 12px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgba(192, 192, 192, 0.697);
    outline: none;
  }
  
  .dropdown-item:hover {
    background-color: #eee;
  }

  .dropdown-item:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff; 
  }
  


  .dropdown-item span {
    font-size: 20px;
    align-items: baseline;
    line-height: 1;
  }

  .dropdown-divider {
    margin: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .user-info {
    border: 1px solid #eee;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 8px 15px;
    display: flex;
    flex-direction: column;
    color: #333;
    transition: all 0.5sec ease;
  }
  .user-info:hover{
    background-color: #e7e7e7;
  }
  .user-info span {
    margin-bottom: 5px;
  }
  
  .version-info {
    padding: 8px 15px;
    color: #333;
  }
  