.post-container {
    margin-left: 260px;
    padding: 20px;
    align-items: center;
    display: grid;
    justify-content: space-around;
  }
  
  .post {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    min-width: 600px;
    margin-bottom: 50px;
    min-height: 500px;
    position: relative;
    padding: 20px;
  }
  
  .post-author {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
  }
  
  .author-image-container {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    height: 45px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }

  .author-image-container:hover{
    background: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .author-avatar-rounded {
    border-radius: 50%;
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
  }
  
  .author-name {
    margin-left: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    font-family: "Outfit";
    font-weight: bold;
    color:rgba(255, 255, 255, 0.9);
    letter-spacing: 1.1;
  }
  
  .post-content {
    margin-top: 25px; /* Adjust this value to increase/decrease the vertical spacing */
  }
  
  .post-image {
    border-radius: 20px;
    position: relative;
    width: 100%;
    padding-bottom: 78.25%;
    overflow: hidden;
  }
  
  .post-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .post-actions {
    position: absolute;
    bottom: 10px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .post-actions-secondary {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
.post-action-btn {
    display: flex;
    width: 35px;
    overflow: hidden;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
    padding: 5px;
    color: cornsilk;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.3s ease;
    margin-bottom: 2px;
  }
  .post-action-btn-secondary {
    display: flex;
    width: 35px;
    overflow: hidden;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
    padding: 5px;
    color: cornsilk;
    border-radius: 10px;
    margin-left: 10px;
    transition: all 0.3s ease;
    margin-bottom: 2px;
  }
  .post-action-text{
    margin-left: 5px;
    margin-right: 3px;
  }
    .wide{
    width: 73px;
  }

  .wider{
    width: 83px;
  }

  .post-action-btn:hover {
    background: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
  }

  .post-action-btn-secondary:hover {
    background: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .post-action-btn span.material-symbols-outlined {
    font-size: 20px;
    margin: 3px;
    color: cornsilk;
  }
  .post-action-btn-secondary span.material-symbols-outlined {
    font-size: 20px;
    margin: 3px;
    color: cornsilk;
  }

  .enlarge-btn {
    margin: 10px;
    position: absolute;
    height: 45px;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  
  .enlarge-btn span.material-symbols-outlined {
    color:rgba(255, 255, 255, 0.9);
    font-size: 24px;
  }

  .enlarge-btn:hover{
    background: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.1);
  }

  .post-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .post-stats {
    display: flex;
    align-items: center;
  }
  
  .post-stat {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .post-stat .material-symbols-outlined {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .post-stat-value {
    font-weight: bold;
  }
  
  .post-tags {
    display: flex;
    align-items: center;
  }
  
  .post-tag {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
  }